#indexHero {
    background-image: url(beach.jpg);
    color: black;
    margin-top: 10px;
}
#transBox {
    background-color: #ffffff;
    opacity: 0.7;
}
.container {
    margin-top: 10px;
}
.headerText {
    width: 70%;
    margin: auto;    
    margin-top: 30px;
    text-align: center;
}
.footerText {
    width: 70%;
    margin: auto;    
    margin-top: 30px;
    text-align: center;
}
a:link.gearCardLink {
    color: black;
}
a:hover.gearCardLink {
    color: #f19833;
}
.travelGearText {
    background-color: #2c83c8;
    opacity: 0.7;
    filter:alpha(opacity=100); 
}
.travelGearText:hover {
    background-color: white;
    opacity: 0;
    filter:alpha(opacity=100); 
}
#backpack {
    background-image: url(backpack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#childCarrier {
    background-image: url(child_carrier.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}#shoe {
    background-image: url(shoe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}#kindle {
    background-image: url(kindle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}#macbook {
    background-image: url(macbook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}#gopro {
    background-image: url(gopro.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}
