body {
    background-color: black;
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 20px;
}

#start-here {
    border-style: solid;
    border-width: 2px;
    padding-left: 15px;
}

#special-paragraph {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: yellow;
    padding: 15px;
}

header {
    background-color: hotpink;
    position: relative;
    top:0px;
    margin-left: 13%;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 90%;
}

#side-navigation {
    background-color: lightblue;
    float: left;
    width: 10%;
    position: absolute;
    top: 100px;
    padding: 10px;
    font-family: sans-serif;
}

#main-navigation {
    background-color: white;
    width: 90%;
    position: absolute;
    top: 3px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
}

section {
    background-color: lightgreen;
    margin-left: 13%;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 25%;
}

article {
    background-color: magenta;
    margin-left: 13%;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 25%;
}

aside {
    background-color: maroon;
    float: right;
    width: 60%;
    height: 1500px;
    margin-left: 13%;
    padding-left: 5px;
    padding-bottom: 5px;
    overflow: auto;
}

footer {
    background-color: mediumblue;
    clear: both;
}

p {
    font-size: 12px;
    color: green;
    margin: 15px;
}

ol {
    list-style-type:lower-alpha;
}

ul{
    list-style: square;
}

img {
    margin: 30px;
}

progress {
    margin-left: 30px;
}

a:hover {
    color: #FF0000;
  }