body {
    background-color: black;
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 20px;
}

#start-here {
    border-style: solid;
    border-width: 2px;
    padding-left: 15px;
}

#special-paragraph {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: greenyellow;
    padding: 15px;
}

header {
    background-color: hotpink;
}

nav {
    background-color: lightblue;
}

section {
    background-color: lightgreen;
}

article {
    background-color: magenta;
}

aside {
    background-color: maroon;
}

footer {
    background-color: mediumblue;
}

p {
    font-size: 12px;
    color: green;
    margin: 15px;
}

div {
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
}

ol {
    list-style-type:lower-alpha;
}

ul{
    list-style: square;
}

img {
    margin: 30px;
}

progress {
    margin-left: 30px;
}